name: Full Issue/PR Triage

on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]

jobs:
  triage-issue:
    name: Triage New Issue
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Auto Label Issues
        uses: github/issue-labeler@v3.4
        with:
          configuration-path: .github/labeler.yml
          enable-versioned-regex: 0
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          include-title: 1
          sync-labels: 1
      - name: Add to Project
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: "https://github.com/users/Saliim17/projects/3"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          labeled: "Status:Todo"

      - name: Assign Milestone
        uses: actions/github-script@v6
        with:
          script: |
            const milestoneId = 2; 

            await github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              assignee: context.actor,
              milestone: milestoneId
            });
