name: Full Issue Triage

on:
  issues:
    types: [opened]

jobs:
  triage-issue:
    name: Triage New Issue
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Auto Label Issues
        uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          sync-labels: false

      - name: Add to Project
        uses: actions/add-to-project@v1.0.1
        with:
          project-url: "https://github.com/users/Saliim17/projects/3"

          github-token: ${{ secrets.GITHUB_TOKEN }}

          labeled: "Status:Todo"

      - name: Assign Milestone
        uses: actions/github-script@v6
        with:
          script: |
            const milestoneId = 2; 

            await github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              milestone: milestoneId
            });
